:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --top-logo-color: #000000;
  --contrast-accent-color: #ffffff;
  --primary-accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --hero-background-color: #c4c4c4;
  --footer-background-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --projects-card-border-color: #eeeeee;
  --section-border-color: #eeeeee;
  --social-list-icon-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: var(--primary-font-family);
  font-size: 14px;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-accent-color);
}

.logo_black {
  color: var(--top-logo-color);
}

.logo_white {
  color: var(--contrast-accent-color);
}

.main-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--contrast-accent-color);
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--primary-accent-color);
}

.social-list__icon {
  fill: var(--social-list-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--contrast-accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-x: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  min-width: 320px;
  height: 610px;
  background-color: var(--primary-background-color);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 769px) {
  .modal {
    width: 528px;
    height: 582px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--primary-accent-color);
}

.contact-form {
  padding: 40px;
}

.contact-form-title {
  display: block;
  margin-bottom: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 769px) {
  .contact-form-title {
    line-height: 1.15;
  }
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-field-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--primary-accent-color);
}

.contact-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-input-icon {
  fill: var(--primary-accent-color);
}

.contact-form-message {
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
  outline: none;
  border-color: var(--primary-accent-color);
}

.contact-form-message::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-wrapper {
  margin-top: 12px;
  margin-bottom: 30px;
}

.contact-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.contact-form-checkbox-label::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  content: '';
  margin-right: 6px;
  background-image: url("../images/checkbox-icon.svg");
  background-repeat: no-repeat;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-image: url("../images/checked-checkbox-icon.svg");
  background-repeat: no-repeat;
}

.contact-form-checkbox-label > a {
  color: var(--primary-accent-color);
}

@media screen and (min-width: 769px) {
  .contact-form-checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.contact-form-submit-btn {
  display: block;
  width: 200px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--contrast-accent-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit-btn:hover, .contact-form-submit-btn:focus {
  background-color: var(--secondary-accent-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header {
  max-height: 80px;
  border-bottom: 1px solid var(--section-border-color);
}

@media screen and (max-width: 767px) {
  .header {
    max-height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav {
    display: none;
  }
  .contacts-list {
    display: none;
  }
  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu-btn__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-btn:hover .mobile-menu-btn__icon,
  .mobile-menu-btn:focus .mobile-menu-btn__icon {
    fill: var(--primary-accent-color);
  }
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-background-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }
  .mobile-menu__close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn:hover .mobile-menu__close-icon,
  .mobile-menu__close-btn:focus .mobile-menu__close-icon {
    fill: var(--primary-accent-color);
  }
  .mobile-menu__container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding: 48px 40px;
  }
  .mobile-menu__nav-item {
    margin-bottom: 32px;
  }
  .mobile-menu__nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
    color: var(--primary-accent-color);
  }
  .current {
    color: var(--primary-accent-color);
  }
  .mobile-menu__contacts-wrapper {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .mobile-menu__contacts-item {
    margin-top: 32px;
  }
  .mobile-menu__contacts-link {
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .mobile-menu__contacts-link.phone {
    font-size: 34px;
    line-height: 1.18;
    color: var(--primary-accent-color);
  }
  .mobile-menu__contacts-link.email {
    font-size: 24px;
    line-height: 1.667px;
  }
  .mobile-menu__social {
    display: flex;
    flex-wrap: wrap;
    margin-top: 54px;
    margin-left: -20px;
  }
  .mobile-menu__social-item {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .mobile-menu__social-link {
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--primary-accent-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header-container {
    min-height: 80px;
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--primary-accent-color);
  }
  .current {
    color: var(--primary-accent-color);
  }
  .nav .current {
    position: relative;
  }
  .nav .current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-accent-color);
  }
  .contacts-list__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list__icon {
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list__link:hover .contacts-list__icon,
  .contacts-list__link:focus .contacts-list__icon {
    fill: var(--primary-accent-color);
  }
}

@media screen and (max-width: 1200px) {
  .header-container {
    justify-content: space-between;
  }
  .contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header .contacts-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .header .contacts-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .nav-list {
    margin-left: 94px;
  }
  .header .phone {
    margin-left: 50px;
  }
}

.hero-section {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-img-mob.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: var(--hero-background-color);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img-mob@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img-tab.jpg);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img-tab@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1600px) {
  .hero-section {
    background-size: contain;
  }
}

.modal-btn {
  display: block;
  min-width: 136px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--contrast-accent-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--secondary-accent-color);
}

.features-section {
  padding-top: 94px;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-list__item {
  width: 270px;
}

.features-list__item:not(:last-child) {
  margin-right: 30px;
}

.features-list__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.features-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.features-list__description {
  height: 75px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.activities-list {
  display: flex;
  justify-content: space-between;
}

.activities-list__item {
  position: relative;
}

.activities-list__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 26px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--contrast-accent-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.team-member {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

/* .team-member:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-member:not(:nth-child(-n + 4)) {
  margin-bottom: 30px;
} */
.team-member-card {
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member-description {
  padding: 30px 32px;
}

.team-member-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team-member-position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-list__item {
  flex-basis: calc((100% - 180px) / 6);
  margin-left: 30px;
  margin-top: 30px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: var(--social-list-icon-color);
  border: 1px solid var(--social-list-icon-color);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  fill: var(--primary-accent-color);
  border-color: var(--primary-accent-color);
}

.clients-list__icon {
  align-self: center;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.contacts {
  min-width: 230px;
  margin-top: 20px;
  margin-right: 70px;
  margin-bottom: 0;
  font-style: inherit;
}

.contacts .contacts-list {
  max-height: 82px;
}

.footer .contacts-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts .link {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .post {
  color: var(--contrast-accent-color);
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--primary-accent-color);
}

.footer-wraper {
  display: flex;
}

.social-media {
  min-width: 206px;
  margin-top: 10px;
}

.join,
.subscribe-call {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--contrast-accent-color);
}

.footer .social-list {
  margin-top: 20px;
}

.footer .social-list__icon {
  fill: var(--contrast-accent-color);
}

.footer .social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list__link:hover, .footer .social-list__link:focus {
  background-color: var(--primary-accent-color);
}

.subscribe-form {
  margin-top: 10px;
  margin-left: auto;
}

.subscribe-form-email-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
}

.subscribe-form-input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding: 16px;
  background-color: var(--footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--contrast-accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form-input:focus {
  outline: none;
  border-color: var(--primary-accent-color);
}

.subscribe-form-submit-btn {
  display: inline-flex;
  align-items: center;
  min-width: 200px;
  padding: 10px 28px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--contrast-accent-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-submit-btn::after {
  display: inline-block;
  margin-left: 10px;
  content: '';
  width: 24px;
  height: 24px;
  background: url("../images/subscribe-icon.svg") no-repeat;
}

.subscribe-form-submit-btn:hover, .subscribe-form-submit-btn:focus {
  background-color: var(--secondary-accent-color);
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  min-width: 610px;
}

.filters-list__item:not(:last-child) {
  margin-right: 8px;
}

.filters-list__btn {
  padding: 6px 22px;
  min-width: 30px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list__btn:hover, .filters-list__btn:focus {
  color: var(--contrast-accent-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-list__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.project-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__link:hover .project-card,
.projects-list__link:focus .project-card {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card__img-wrapper {
  position: relative;
  overflow: hidden;
}

.project-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 62px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--contrast-accent-color);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__link:hover .project-card__overlay,
.projects-list__link:focus .project-card__overlay {
  transform: translateY(0%);
}

.project-discription {
  min-height: 110px;
  padding: 20px 24px;
  border-right: 1px solid var(--projects-card-border-color);
  border-bottom: 1px solid var(--projects-card-border-color);
  border-left: 1px solid var(--projects-card-border-color);
}

.project-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.projects-list__link {
  color: currentColor;
}
/*# sourceMappingURL=main.css.map */