.activities-list {
  display: flex;
  justify-content: space-between;
}

.activities-list__item {
  position: relative;
}

.activities-list__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 26px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--contrast-accent-color);
  background-color: rgba(47, 48, 58, 0.8);
}