.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-list__item {
  flex-basis: calc((100% - 180px) / 6);
  margin-left: 30px;
  margin-top: 30px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: var(--social-list-icon-color);
  border: 1px solid var(--social-list-icon-color);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--primary-accent-color);
    border-color: var(--primary-accent-color);
  }
}

.clients-list__icon {
  align-self: center;
}