.header-container {
  display: flex;
  align-items: center;
}

.header {
  max-height: 80px;
  border-bottom: 1px solid var(--section-border-color);
}

@media screen and (max-width: 767px) {
  .header {
    max-height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav {
    display: none;
  }
  
  .header .contacts-list {
    display: none;
  }

  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  
  .mobile-menu-btn__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    .mobile-menu-btn:hover &,
    .mobile-menu-btn:focus & {
      fill: var(--primary-accent-color);
    }
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    overflow: auto;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-background-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }
  
  .mobile-menu__close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    .mobile-menu__close-btn:hover &,
    .mobile-menu__close-btn:focus & {
      fill: var(--primary-accent-color);
    }
  }
  
  .mobile-menu__container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding: 48px 40px;
  }
  
  .mobile-menu__nav-item {
    margin-bottom: 32px;
  }
  
  .mobile-menu__nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      color: var(--primary-accent-color);
    }
  }
  
  .current {
    color: var(--primary-accent-color);
  }
  
  .mobile-menu__contacts-wrapper {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  
  .mobile-menu__contacts-item {
    margin-top: 32px;
  }
  
  .mobile-menu__contacts-link {
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  
    &.phone {
      font-size: 34px;
      line-height: 1.18;
      color: var(--primary-accent-color);
    }
  
    &.email {
      font-size: 24px;
      line-height: 1.667px;
    }
  }
  
  .mobile-menu__social {
    display: flex;
    flex-wrap: wrap;
    margin-top: 54px;
    margin-left: -20px;
  }
  
  .mobile-menu__social-item {
    height: 22px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

    &:not(:last-child)::after {
      content: '';
      width: 0;
      height: 22px;
      margin-left: 10px;
      border: 1px solid rgba(33, 33, 33, 0.2);;
    }
  }
  
  .mobile-menu__social-link {
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--primary-accent-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header-container {
    min-height: 80px;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  
  .nav-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      color: var(--primary-accent-color);
    }
  }
  
  .current {
    color: var(--primary-accent-color);
  }
  
  .nav .current {
    position: relative;
  
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--primary-accent-color);
    }
  }

  .contacts-list__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-list__icon {
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    .contacts-list__link:hover &,
    .contacts-list__link:focus & {
      fill: var(--primary-accent-color);
    }
  }
}
  
@media screen and (max-width: 1200px) {
  .header-container {
    justify-content: space-between;
  }

  .contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header .contacts-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .header .contacts-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .nav-list {
    margin-left: 94px;
  }
  
  .header .phone {
    margin-left: 50px;
  }
}