:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --top-logo-color: #000000;
  --contrast-accent-color: #ffffff;
  --primary-accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --hero-background-color: #c4c4c4;
  --footer-background-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --projects-card-border-color: #eeeeee;
  --section-border-color: #eeeeee;
  --social-list-icon-color: #afb1b8;
}